<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>home</title>
<link rel="stylesheet" type="text/css"
	href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light sticky-top top-nav">
		<span class="btn-open">&#9776; Open sidebar</span>
	</nav>
	<div class="sidenav">
		<span class="btn-close">&times;</span>
		<div class="sidenav-item">
			<a href="checkinCheckout">Checkin/CheckOut</a> <a href="">TimeSheet</a> <a href="">days
				off</a> <a href="">payslip</a>
		</div>
	</div>
	<div class="main-content">

		<p>Volutpat lectus ullam aliquip vehicula blanditiis! Sapiente
			curae, nihil perspiciatis suspendisse vitae, eveniet blanditiis
			curabitur est dictum vero fuga sem penatibus dignissimos error aliqua
			dicta architecto purus qui reprehenderit eveniet sunt cupidatat
			cupidatat magnam? Porro hic nostrud mauris nihil praesent. Impedit
			purus esse penatibus auctor irure proident sint? Eos primis neque
			nostra. Totam elit quo mauris commodo, commodo feugiat, aperiam.
			Vitae repellendus primis fuga facilis ligula vestibulum. Quisquam
			hic. Ullam, nam nobis dapibus mauris, perferendis omnis condimentum
			fugiat? Excepteur voluptatem, assumenda mi dolores metus sapien fugit
			earum. Quam interdum ultrices, consectetuer ullam fusce eiusmod
			iaculis gravida magni nobis. Distinctio pariatur.</p>

		<p>Placerat congue minus nostrum turpis ligula, elementum porro eu
			atque. Consequuntur nascetur lobortis proin incidunt sollicitudin
			reiciendis porro adipisicing autem, conubia dapibus. Odio esse,
			adipiscing consequuntur felis erat, ultrices imperdiet sed velit!
			Viverra morbi vivamus, hendrerit, sodales provident non veritatis, ad
			doloribus libero quibusdam, varius dolorem! Congue. Massa amet
			quibusdam, minus dolore ultrices laboris? Maiores, consectetuer, ab
			sodales magna litora, pulvinar, rutrum laboris ducimus consectetur
			nobis, ullamcorper tristique, ducimus non odio eos hac adipisicing
			odit libero egestas, exercitationem! Totam sociosqu. Vulputate eos
			laoreet condimentum massa, praesentium facilisis, veritatis. Dolor,
			dignissim leo, venenatis non risus eveniet debitis. Dolorum, sit!
			Voluptate sociis.</p>


	</div>


	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/js/popper.min.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/home.js"></script>
</body>
</html>